{include file='layout' /}

<div id="page-wrapper" style="min-height: 337px;">
        <div class="main-page">
            <div class="tables">
                <h2 class="title1">物流信息</h2>
                <div class="form-body">
                        <div data-example-id="simple-form-inline"> 
                            <form class="form-inline" method="get" action="performance"> 
                                <div class="form-group"> 
                                    <input type="int" class="form-control" name="account" value="{$account}" id="account" placeholder="请输入账号ID">
                                </div>
                                <button type="submit" class="btn btn-default">搜索</button> 
                            </form> 
                        </div>
                </div>
                <div class="table-responsive bs-example widget-shadow">
                    <h4>物流信息:</h4>
                    <table class="table">
                        <thead>
                            <tr>
                              <th>账号</th>
                              <th>左区业绩</th>
                              <th>右区业绩</th>
                            </tr>
                        </thead>
                        <tbody id="List">
                            {volist name="list" id="vo"}
                                <tr>
                                    <td>{$vo.account}</td>
                                    <td>{$vo.left_score} ( {$vo.left_num}单 )</td>
                                    <td>{$vo.right_score} ( {$vo.right_num}单 )</td>
                                </tr>
                            {/volist}
                        </tbody>
                    </table>
                    <div class="col-md-12" style="text-align: center; margin:0 auto">
                        <nav style="margin:0 auto">
                                {$list->render()}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
// 初始化页面
function List(p)
{
    var data   = {}
    data.page  = p
    data.input = 13223
	$.ajax({
		type: 'POST',
		url: "/index/users/",
        data:data,
		dataType:'json',
		
		success:function(msg)
		{
			var msg = eval(msg);
			var page = msg['page'];
			obj = msg['list'];
			if(msg['code']==0)
			{
				// 玩家列表
				var List = '';
				for (var i = 0; i < obj.length; i++)
				{
					List+='<tr>';
					List+='<td>'+obj[i]['account']+'</td>';
                    List+='<td>'+obj[i]['account']+'</td>';
                    List+='<td>'+obj[i]['account']+'</td>';
                    List+='<td>'+obj[i]['account']+'</td>';
                    List+='<td>'+obj[i]['account']+'</td>';
                    List+='<td>'+obj[i]['account']+'</td>';
                    List+='<td>'+obj[i]['account']+'</td>';
                    List+='<td>'+obj[i]['account']+'</td>';
					List+='</tr>';
				}
				$('#List').html(List);
				// 分页按钮
				var pageList = '';
				for (var i = 0; i < page.length; i++) 
				{
					if( page[i][1]== p){
						pageList+='<li class="active"><a href="javascript:List('+page[i][1]+')">'+page[i][0]+'</a></li>';
					}else{
						pageList+='<li><a href="javascript:List('+page[i][1]+')">'+page[i][0]+'</a></li>';
					}
					
				}
				$('#pageList').html(pageList);
			}
			else
			{
				alert(msg['errmsg']);
			}
		},
		error:function()
		{
			alert('网络错误');
		}
	});
}
</script>
{include file='footer' /}